{{> head }}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Imagen de un gato</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, magni praesentium. Fugit nesciunt illum
            obcaecati doloremque perferendis voluptas voluptatibus necessitatibus excepturi eum beatae, exercitationem
            mollitia quidem, magni dicta optio. Ad?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img.jpg" alt="imagen" class="img-thumbnail">
    </div>
</div>

{{> footer }}